.hero-section {
  display: flex;
  align-items: center;
  /* gap: 10px; */
  margin-top: 20px;
  justify-content: center;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #2d2e2e;
  font-weight: 500;
}

.hero-content p {
  color: #8e8e8e;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.hero-image img {
  width: 570px;
  height: auto;
  max-height: 600px;
  border-radius: 10px;
}

.button-group {
  display: flex;
  gap: 23px;
  margin-top: 30px;
}

.btn-demo {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
}

.btn-doc {
  background: #e0e9f8;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  padding: 12px 18px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 16px;
}

.btn-demo:hover {
  background: #083982;
  color: aliceblue;
  transition: all 0.3s ease;
}

.btn-doc:hover {
  background: #0d6efd;
  color: white;
  border-color: #0d6efd;
  transition: all 0.3s ease;
}

.hero-section,
.hero-content h1,
.hero-content p,
.hero-image img,
.button-group,
.btn-demo,
.btn-doc {
  transition: all 0.3s ease;
}
