    .navbar {
      padding-top: 18px;
      padding-bottom: 18px;
      background: #fff !important;
    }

    .navbar .navbar-brand {
      margin-left: 48px;
      font-weight: 700;
      color: #0b5ed7;
      letter-spacing: 0.2px;
    }

    .navbar .nav-link {
      color: #6c757d;
      font-weight: 500;
      padding-left: 18px;
      padding-right: 18px;
    }
    .navbar .nav-link:hover,
    .navbar .nav-link.active {
      color: #212529;
    }

    /* Make center nav */
    @media (min-width: 992px) {
      .navbar .navbar-collapse {
        position: relative;
      }

      .navbar .navbar-nav.center-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 70px; /* right shift */
      }
    }

    .buy-btn{
      margin-right: 110px;
    }

    .navbar .nav-link {
      color: #6c757d;
    }

    .navbar .nav-link.active {
      color: #212529;
    }